.idea
target
logs
*.iml
*.ipr
*.iws
*.pyc
*~
#*
*.tar.gz
.classpath
.project
.settings
out
python-client/hhsession.egg-info/*
python-client/build/
hh-session-service/src/etc/hh-session/service.properties
nb-configuration.xml
.pydevproject
.pybuild
index_test/
